# ROS2 build directories
build/
install/
log/

# ROS2 specific
.rosinstall
.ament_version

# ROS2 package specific
CMakeLists.txt.user
colcon.meta

# Python cache
__pycache__/

# Other common files to ignore
*.swp
*.swo
*.bak
*.tmp
*~
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix